---
import Layout from "@/layouts/Layout.astro";
// import { config } from "@/config";
import { getCollection } from "astro:content";
import Section from "@/components/Section.astro";
import type { GetStaticPathsOptions } from "astro"; // 导入 Astro 内置类型
import PostList from "@/components/PostList.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await getCollection("blog");

  // 1. 拿到所有分类
  const categories = [
    ...new Set(allPosts.flatMap((post) => post.data.categories ?? [])),
  ];
  // 2. 针对每个分类进行分页
  return categories.flatMap((category) => {
    // 过滤出当前分类的文章
    const filteredPosts = allPosts
      .filter((post) => post.data.categories?.includes(category))
      .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

    const categorySlug = category
      .toLowerCase()
      .replace(/:/g, "")
      .replace(/\s+/g, "-");

    // 使用 paginate 返回分页数据
    return paginate(filteredPosts, {
      params: { category: categorySlug }, // 对应文件夹 [category]
      props: { categoryName: category }, // 原始分类名传给页面显示
      pageSize: 10,
    });
  });
}

const { page, categoryName } = Astro.props;
// const { category } = Astro.params;
const posts = page.data.map((post) => {
  const slug = post.id.split("/").pop() ?? "";
  return {
    ...post,
    customSlug: slug,
  };
});
---

<Layout>
  <Section>
    <h1
      class="scroll-m-24 text-3xl font-semibold tracking-tight sm:text-3xl text-center"
    >
      分类
    </h1>
    <p class="mt-4 md:text-lg text-center">{categoryName}</p>
  </Section>
  <Section>
    <PostList posts={posts} page={page} />
  </Section>
</Layout>
