---
import Layout from "@/layouts/Layout.astro";
import { config } from "@/config";
import Section from "@/components/Section.astro";
---

<Layout>
  <Section>
    {new URL("rss.xml", Astro.url)}
    <br />
    {Astro.url}
    <br />
    {config.url}
    <br />
    {Astro.url.pathname}
    <br />
    {new URL("rss.xml", config.url)}
    <br />
    {new URL("rss.xml", config.url).href}
    <br />
    {new URL("/favicon.ico", config.url).href}
  </Section>
  <Section>
    <div class="space-y-2">
      <p class="text-muted-foreground">text-muted-foreground</p>
      <p class="text-foreground">text-foreground</p>
      <p class="text-primary">text-primary</p>
      <p class="text-primary-foreground">text-primary-foreground</p>
      <p class="text-secondary-foreground">text-secondary-foreground</p>
      <p class="text-destructive">text-destructive</p>
      <p class="text-accent-foreground">text-accent-foreground</p>
    </div>
  </Section>
</Layout>
