---
import Layout from "@/layouts/Layout.astro";
import { DashboardLayout } from "@/components/DashboardLayout";
---

<Layout>
  <DashboardLayout client:load>
    <header>...</header>
    <main>真正的文章内容</main>
  </DashboardLayout>
</Layout>