---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import "../styles/global.css";
import { CarouselDemo } from "@/components/index";
import {
  Card,
  CardAction,
  // CardContent,
  CardDescription,
  // CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import { config } from "@/config";

// 获取 blog 集合中的所有文章
const allPosts = await getCollection("blog");

const posts = allPosts
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 6)
  .map((post) => {
    const slug = post.id.split("/").pop();
    return {
      ...post,
      customSlug: slug,
    };
  });

// 文章摘要
function getSummary(body: string, length = 60) {
  const cleanBody = body.replace(/[#*`]/g, "");
  return cleanBody.slice(0, length) + (cleanBody.length > length ? "..." : "");
}
---

<Layout>
  <div class="mx-auto w-full max-w-7xl">
    <CarouselDemo client:load />
    <section class="max-w-screen-xl px-4 py-10 lg:py-14 mx-auto">
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 lg:gap-y-10 gap-6">
        {
          posts.map((post) => (
            <Card className="relative mx-auto w-full max-w-sm pt-0">
              <div class="absolute inset-0 z-30 aspect-video bg-black/35" />
              {/* ✅ 正确写法：必须使用 Image 组件 */}
              {post.data.cover ? (
                <Image
                  src={post.data.cover}
                  alt={post.data.title}
                  width={800}
                  height={800}
                  class="relative z-20 aspect-video w-full object-cover brightness-60 grayscale dark:brightness-40"
                />
              ) : (
                <img
                  src="https://avatar.vercel.sh/shadcn1"
                  alt="Event cover"
                  class="relative z-20 aspect-video w-full object-cover brightness-60 grayscale dark:brightness-40"
                />
              )}
              <CardHeader>
                <CardDescription>
                  {post.data.date.toLocaleDateString()}
                </CardDescription>
                <CardTitle>{post.data.title}</CardTitle>
                <CardDescription>{getSummary(post.body ?? "")}</CardDescription>
                <CardAction>
                  <Badge variant="secondary">Featured</Badge>
                </CardAction>
              </CardHeader>
              {/* <CardContent>1123</CardContent> */}
              {/* <CardFooter>
              <Button className="w-full">View Event</Button>
            </CardFooter> */}
            </Card>
          ))
        }
      </div>

      <div class="mt-10 flex justify-center">
        <Button className="" variant="outline">
          <a href={new URL("/post", config.url).href}> 更多文章 </a>
        </Button>
      </div>
    </section>
    
    <section class="relative w-full overflow-hidden my-12">
      <div class="max-w-screen-xl mx-auto glide-04 px-4">
        <!-- Controls -->
        <div class="flex items-center justify-between w-full gap-2">
          <div class="mb-4 lg:mb-8">
            <h2
              class="scroll-animation text-2xl font-bold md:text-4xl md:leading-tight dark:text-white"
            >
              人生是场冒险
            </h2>
            <p
              class="scroll-animation mt-1 text-gray-600 dark:text-neutral-400"
            >
              请不要忘记旅途本身的意义
            </p>
          </div>
          <div data-glide-el="controls">
            <button
              class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 dark:text-slate-300 border-slate-700 hover:text-slate-900 dark:hover:text-slate-100 hover:border-slate-900 focus-visible:outline-none bg-white/20 cursor-pointer"
              data-glide-dir="<"
              aria-label="prev slide"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <title>prev slide</title>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path>
              </svg>
            </button>
            <button
              class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 dark:text-slate-300 border-slate-700 hover:text-slate-900 dark:hover:text-slate-100 hover:border-slate-900 focus-visible:outline-none bg-white/20 cursor-pointer"
              data-glide-dir=">"
              aria-label="next slide"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <title>next slide</title>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
              </svg>
            </button>
          </div>
        </div>
        <!-- Slides -->
        <div data-glide-el="track">
          <ul
            class="relative w-full overflow-hidden p-0 whitespace-no-wrap flex flex-no-wrap"
          >
            <li class="">
              <img
                src="https://www.krjojo.com/wp-content/uploads/2025/12/广州大道.avif"
                class="rounded w-full aspect-square object-cover"
                alt="chongqing"
                loading="lazy"
                decoding="async"
              />
            </li>
            <li class="">
              <img
                src="https://www.krjojo.com/wp-content/themes/krjojo/assets/images/glide/chongqing.avif"
                class="rounded w-full h-full object-cover"
                alt="chongqing"
                loading="lazy"
                decoding="async"
              />
            </li>
            <li class="">
              <img
                src="https://www.krjojo.com/wp-content/themes/krjojo/assets/images/glide/chengdu.avif"
                class="rounded w-full h-full object-cover"
                alt="chengdu"
                loading="lazy"
                decoding="async"
              />
            </li>
            <li class="">
              <img
                src="https://www.krjojo.com/wp-content/themes/krjojo/assets/images/glide/changsha.avif"
                class="rounded w-full h-full object-cover"
                alt="changsha"
                loading="lazy"
                decoding="async"
              />
            </li>
            <li class="">
              <img
                src="https://www.krjojo.com/wp-content/themes/krjojo/assets/images/glide/tianhuan.avif"
                class="rounded w-full h-full object-cover"
                alt="tianhuan"
                loading="lazy"
                decoding="async"
              />
            </li>
            <li class="">
              <img
                src="https://www.krjojo.com/wp-content/themes/krjojo/assets/images/glide/cat2.avif"
                class="rounded w-full h-full object-cover"
                alt="cat"
                loading="lazy"
                decoding="async"
              />
            </li>
          </ul>
        </div>
        <div class="mt-10 flex justify-center">
          <a
            class="relative inline-flex items-center gap-1 rounded-md border border-gray-300 bg-white px-3 py-2 pl-4 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 disabled:pointer-events-none disabled:opacity-40 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-gray-700"
            href="/gallery"
          >
            <span>随手一拍</span>
          </a>
        </div>
      </div>
    </section>
    <!-- End Carousel with controls outside -->
    <script src="/glide.min.js" is:inline></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        new Glide(".glide-04", {
          bound: true,
          perView: 3,
          gap: 24,
          classes: {
            activeNav: "[&>*]:bg-slate-700",
          },
          breakpoints: {
            640: {
              perView: 2,
            },
          },
        }).mount();
      });
    </script>
  </div>
</Layout>
