---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import { FriendLinks } from "@/components/links";
---

<Layout title="友情链接">
  <Section>
    <h1
      class="scroll-m-24 text-3xl font-semibold tracking-tight sm:text-3xl text-center"
    >
      友情链接
    </h1>
    <p class="mt-4 md:text-lg text-center">与大家共同进步</p>
  </Section>
  <Section>
    <FriendLinks client:load />
  </Section>
</Layout>
