---
import Layout from "@/layouts/Layout.astro";
import { SettingsForm } from "@/components/settings-form";
import Section from "@/components/Section.astro";
---

<Layout title="设置">
  <Section>
    <SettingsForm client:load />
  </Section>
</Layout>
