---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import Section from "@/components/Section.astro";
import PostList from "@/components/PostList.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await getCollection("blog");

  // 按照日期排序
  allPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  // 返回分页结果，pageSize 定义每页显示多少条
  return paginate(allPosts, { pageSize: 5 });
}

// 分页数据会通过 props 传递给页面
const { page } = Astro.props;

const posts = page.data.map((post) => {
  const slug = post.id.split("/").pop() ?? "";
  return {
    ...post,
    customSlug: slug,
  };
});
---

<Layout title={`第 ${page.currentPage} 页 - 文章列表`}>
  <Section>
    <PostList posts={posts} page={page} />
  </Section>
</Layout>
