---
interface Props {
    // 接收外部传入的 class
    class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<section class="w-full">
    <div
        class:list={["max-w-7xl px-4 py-10 lg:py-14 mx-auto", className]}
        {...rest}
    >
        <slot />
    </div>
</section>
