---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<nav class="flex flex-col gap-4 border-l pl-4">
  <p
    class="text-xs font-bold uppercase tracking-widest text-muted-foreground/70"
  >
    本页内容
  </p>
  <div class="flex flex-col gap-3">
    {
      headings.map((heading) => (
        <a
          href={`#${heading.slug}`}
          class="text-[0.8rem] text-muted-foreground no-underline transition-colors hover:text-foreground data-[active=true]:font-medium data-[active=true]:text-foreground data-[depth=3]:pl-4 data-[depth=4]:pl-6"
          data-active="false"
          data-depth={heading.depth}
        >
          {heading.text}
        </a>
      ))
    }
  </div>
</nav>
